.stats-header {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #dee2e6;
}
.stats-section {
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.stats-section h2 {
    color: #212529;
    margin-bottom: 20px;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 10px;
}
.btn-custom {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-custom:hover {
    background-color: #0069d9;
}
.nav-link-custom {
    margin-right: 15px;
    color: #0d6efd;
    text-decoration: none;
    text-align: left;
}
.nav-link-custom:hover {
    color: #0056b3;
    text-decoration: underline;
   
}

nav{
    width: 1000px;
    text-align:left;
}

.summary-item {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}
.summary-item h4 {
    color: #343a40;
    font-size: 18px;
    margin-bottom: 10px;
}
.summary-value {
    font-size: 22px;
    font-weight: 600;
    color: #198754;
}

.card-header.bg-secondary.text-white.text-center.py-2,
.card-header.bg-primary.text-white.text-center.py-2{
    margin-top: 5px;
}

div.action-buttons{
    margin-bottom: 20px;
}
.card-header.bg-info.text-white,
.card-header.bg-success.text-white{
    margin-top: 10px;
}

div.card{
    margin-top: 10px;
}