body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #000000;
  }
  
  h2 {
    margin-top: 20px;
    color: #2c3e50;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  

  .btn i {
    margin-right: 5px;
  }
  
  a.btn {
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .alert {
    font-size: 1.1rem;
  }

  h2 {
    margin-bottom: 1rem; 
     }

  table { 
    background: white; 
    border-radius: 10px; 
    overflow: hidden; 
  }

  .table th, .table td { 
    vertical-align: middle; 
  }

  .btn img {
    height: 20px; 
  }

div.col-md-4{
  margin-left: 0px;
}